<b>Willkommen bei StudenTask!</b>
<p> Damit wir Ihre E-mail bestätigen können, bitte klicken Sie auf den nachstehenden Link. </p>
<p> <a href="*|email_verification_link|*">*|email_verification_link|*</a> </p>
<p> Mit freundlichen Grüßen,
    <br> Ihr StudenTask Team  </p>